<!DOCTYPE html>
<html>
<head>


</head>
<body>
  <div class="container">
    <div class="response-area">
        <p><%= content %></p>
    </div>
    <form id="myForm" method="post">
      <label for="cityInput">City:</label>
      <input type="text" id="cityInput" name="city" >
      <input id="post" type="submit" value="POST" formaction="/weather">
    </form>
</div>
</body>

</html>
